<section class="content">
    <div class="card p-l-20 p-r-20" style="height: 80vh">
        <!--Filters-->
        <div class="row p-t-20">
            <div class="offset-3 col-1 p-r-5 text-right">
                <!--<i class="zmdi zmdi-search zmdi-hc-lg" style="position: relative; top: 8px;"></i>-->
            </div>
            <!--<div class="col-2  p-l-5">-->
            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control form-control-line" placeholder="Buscar por nombre">-->
            <!--<i class="form-group__bar"></i>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-3">-->
            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control form-control-line" placeholder="Buscar por clave de seguro">-->
            <!--<i class="form-group__bar"></i>-->
            <!--</div>-->
            <!--</div>-->
        </div>

        <!--Patients Queue-->
        <div class="row m-l-10">
            <div class="col-9">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nombre del paciente</th>
                        <th>Clave de seguro</th>
                        <th>Sintomas</th>
                        <th>Tiempo</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <!--Patients Red-->
                    <tr *ngFor="let patient of patientsRed">
                        <td (click)="openPatientAssessment(patient.key)">
                            {{ patient.basicInformation.name + ' ' + patient.basicInformation.lastName }}
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            {{ patient.basicInformation?.claveSeguro }}
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            <span *ngFor="let symptom of patient.symptoms; let last = last, let index = index">
                                <span *ngIf="index < 5">
                                {{ symptom.name }}<span *ngIf="!last">,</span>
                                </span>
                            </span>
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            <div class="timer text-center {{ getBackgroundColorBySymptom(patient.nivelPaciente) }}">
                                <countdown-timer [end]="patient.tiempoCola"></countdown-timer>
                            </div>
                        </td>
                        <td>
                            <i class="zmdi zmdi-close zmdi-hc-2x text-danger cursor-pointer"
                               (click)="removePatientFromQueue(patient.key)"></i>
                        </td>
                    </tr>

                    <!--Patients Orange-->
                    <tr *ngFor="let patient of patientsOrange">
                        <td (click)="openPatientAssessment(patient.key)">
                            {{ patient.basicInformation.name + ' ' + patient.basicInformation.lastName }}
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            {{ patient.basicInformation?.claveSeguro }}
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            <span *ngFor="let symptom of patient.symptoms; let last = last; let index = index">
                                <span *ngIf="index < 5">
                                    {{ symptom.name }}<span *ngIf="!last">,</span>
                                </span>
                            </span>
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            <div class="timer text-center {{ getBackgroundColorBySymptom(patient.nivelPaciente) }}">
                                <countdown-timer [end]="patient.tiempoCola"></countdown-timer>

                            </div>
                        </td>
                        <td>
                            <i class="zmdi zmdi-close zmdi-hc-2x text-danger cursor-pointer"
                               (click)="removePatientFromQueue(patient.key)"></i>
                        </td>
                    </tr>

                    <!--Patients Yellow-->
                    <tr *ngFor="let patient of patientsYellow">
                        <td (click)="openPatientAssessment(patient.key)">
                            {{ patient.basicInformation.name + ' ' + patient.basicInformation.lastName }}
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            {{ patient.basicInformation?.claveSeguro }}
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            <span *ngFor="let symptom of patient.symptoms; let last = last, let index = index">
                                <span *ngIf="index < 5">
                                {{ symptom.name }}<span *ngIf="!last">,</span>
                                </span>
                            </span>
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            <div class="timer text-center {{ getBackgroundColorBySymptom(patient.nivelPaciente) }}">
                                <countdown-timer [end]="patient.tiempoCola"></countdown-timer>

                            </div>
                        </td>
                        <td>
                            <i class="zmdi zmdi-close zmdi-hc-2x text-danger cursor-pointer"
                               (click)="removePatientFromQueue(patient.key)"></i>
                        </td>
                    </tr>

                    <!--Patients Green-->
                    <tr *ngFor="let patient of patientsGreen">
                        <td (click)="openPatientAssessment(patient.key)">
                            {{ patient.basicInformation.name + ' ' + patient.basicInformation.lastName }}
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            {{ patient.basicInformation?.claveSeguro }}
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            <span *ngFor="let symptom of patient.symptoms; let last = last, let index = index">
                                <span *ngIf="index < 5">
                                {{ symptom.name }}<span *ngIf="!last">,</span>
                                </span>
                            </span>
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            <div class="timer text-center {{ getBackgroundColorBySymptom(patient.nivelPaciente) }}">
                                <countdown-timer [end]="patient.tiempoCola"></countdown-timer>

                            </div>
                        </td>
                        <td>
                            <i class="zmdi zmdi-close zmdi-hc-2x text-danger cursor-pointer"
                               (click)="removePatientFromQueue(patient.key)"></i>
                        </td>
                    </tr>

                    <!--Patients Blue-->
                    <tr *ngFor="let patient of patientsBlue">
                        <td (click)="openPatientAssessment(patient.key)">
                            {{ patient.basicInformation.name + ' ' + patient.basicInformation.lastName }}
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            {{ patient.basicInformation?.claveSeguro }}
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            <span *ngFor="let symptom of patient.symptoms; let last = last, let index = index">
                                <span *ngIf="index < 5">
                                {{ symptom.name }}<span *ngIf="!last">,</span>
                                </span>
                            </span>
                        </td>
                        <td (click)="openPatientAssessment(patient.key)">
                            <div class="timer text-center {{ getBackgroundColorBySymptom(patient.nivelPaciente) }}">
                                <countdown-timer [end]="patient.tiempoCola"></countdown-timer>

                            </div>
                        </td>
                        <td>
                            <i class="zmdi zmdi-close zmdi-hc-2x text-danger cursor-pointer"
                               (click)="removePatientFromQueue(patient.key)"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--Add new patient-->
            <div class="col-3">
                <div align="center">
                    <h3 style="color: #6b6b6b;">Nuevo paciente</h3>
                </div>

                <div class="card m-b-10" style="background-color: #3498db; height: 150px">
                    <div class="row">
                        <div class="col-12" style="margin-top: 20px; padding-left: 35px; padding-right: 35px">
                            <span style="color: white; font-size: 13px">Clave de seguro</span>
                            <!--<div class="fg-line ">-->
                            <input type="text"
                                   class="form-control p-l-5 m-t-5 bg-white"
                                   placeholder="Ejemplo: 13020203"
                                   required
                                   [(ngModel)]="patientKey">
                            <!--</div>-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="offset-2 col-8 m-t-15">
                            <button class="btn btn-danger"
                                    style="width: 100%; border-radius: 5px 5px 5px 5px; background-color: #e74c3c !important;"
                                    (click)="openAddPatient()">Registrar
                            </button>
                        </div>
                    </div>
                </div>

                <div class="c-p-crear-paciente" style="text-align: center; color: #4498db;">
                    <span class="c-p-label-crear cursor-pointer">Crear nuevo paciente</span>
                </div>

                <div class="row m-t-50" *ngIf="showNotification">
                    <div class="col-12" style="vertical-align: middle;" align="center">

                        <div class="notification animated {{ animatedIcon ? 'tada' : '' }} cursor-pointer" (click)="closeNotification()">
                            <div class="title">
                                EMERGENCIA
                            </div>
                            <div class="message">
                                <div>Paciente en camino</div>
                                <div>Ambulancia a 3km</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="false">
            <div class="col-6">
                <input type="text" class="form-control form-control-line" [(ngModel)]="symptom.name"
                       placeholder="Nombre del sintoma">
                <select class="form-control form-control-line" [(ngModel)]="symptom.level">
                    <option [value]="levelSymptom.RED"> Rojo </option>
                    <option [value]="levelSymptom.ORANGE">Naranja</option>
                    <option [value]="levelSymptom.YELLOW">Amarillo</option>
                    <option [value]="levelSymptom.GREEN">Verde</option>
                    <option [value]="levelSymptom.BLUE">Azul</option>
                </select>
                <select class="form-control form-control-line" [(ngModel)]="symptom.triage">
                    <option [value]="triageType.KID">Pediatrico</option>
                    <!--<option [value]="triageType.WOMAN">Adulto Mujer</option>-->
                    <option [value]="triageType.PREGNANT">Obstetrico</option>
                    <option [value]="triageType.ADULTMALE">Adulto</option>
                </select>

                <button class="btn btn-primary" (click)="addSymptom()">Agregar sintoma</button>
            </div>

            <div class="col-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Sintoma</th>
                        <th>Nivel</th>
                        <th>Triage</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let symptom of symptoms | async">
                        <td>
                            {{ symptom.name }}
                        </td>
                        <td>
                            {{ getLevel(symptom.level) }}
                        </td>
                        <td>
                            {{ getTriageType(symptom.triage) }}
                        </td>
                        <td>
                            <i class="zmdi zmdi-close-circle text-danger zmdi-hc-2x cursor-pointer"
                               (click)="deleteSymptom(symptom.key)"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

<growl [title]="growlTitle" [showGrowl]="showGrowl"></growl>
