<section class="" style="min-width: 800px; min-height: 500px; background-color: white;     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
    border-radius: 3px;
    border: 0;">
    <ul class="tab-nav tn-justified">
        <li class="active">
            <a >Triage</a>
        </li>
        <li>
            <a>
                Información Básica
            </a>
        </li>
        <li>
            <a>
                Sintomas
            </a>
        </li>
        <li class="button-next modal-content">
            <a class="text-white">
                Siguiente
            </a>
        </li>
    </ul>

</section>
